@font-face {
    font-weight: normal;
    font-family: "IBM Plex Mono";
    src: url(../src/fonts/IBMPlexMono-Regular.ttf);
}

@font-face {
    font-weight: bold;
    font-family: "IBM Plex Mono";
    src: url(../src/fonts/IBMPlexMono-Bold.ttf);
}

body {
    font-family: "IBM Plex Mono";
    margin: 0;
    padding: 0;
}

/* header-related tags and classes */
header {
    width: 1024px;
    height: 768px;

    padding-bottom: 60px;
    background: #000028;
}

header > section {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 1024px;
    height: 768px;

    background-image: url(../src/images/cover-image-dark.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100% 100%;
}

.no-focus {
    height: 130px;
    font-size: 157px;
    line-height: 87.5%;
    font-weight: bold;

    color: #DB00FF;
    filter: drop-shadow(4px 4px 0 #FF0070);

    margin-top: 273px;
    margin-bottom: 0px; 
}

.under-focus {
    height: 71px;
    width: 491px;
    font-size: 18px;
    font-weight: bold;
    background-color: #FF0070;

    align-self: flex-end;
    margin-right: 20px;
    margin-top: 114px;
    margin-bottom: 89px;
}

.theme-switch-container {
    width: 1024px;
    height: 26px;
    margin: 0;
    padding-top: 20px;

    display: flex;
}
.theme-switch {
    width: 230px;
    height: 26px;

    display: flex;
    justify-content: space-evenly;

    margin-left: auto;
    margin-right: auto;
}

.theme-switch > span {
    color: #FF0070;

    font-size: 18px;
    line-height: 22px;
    text-align: center;

    padding-left: 13.4px;
    padding-right: 13.4px;
}

.stroked {
    border: 1px solid #FF0070;
}

.circle {
    height: 9px;
    width: 9px;

    background-color: #FF0070;
    border-radius: 50%;

    box-shadow: 0px 0px 4px 2px #FF0070;

    margin-left: auto;
    margin-right: auto;
}

.right-corner {
    width: 25px;
    height: 25px;
    border-top: 1px solid #FF0070;
    border-right: 1px solid #FF0070;

    margin-right: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-corner {
    width: 25px;
    height: 25px;
    border-bottom: 1px solid #FF0070;
    border-left: 1px solid #FF0070;

    margin-left: 20px;
    margin-bottom: 20px;
}

/* main-related tags and classes */
main {
    width: 1024px;
    height: 3352px;

    padding-bottom: 60px;
    background: #000028;
}

/* footer-related tags and classes */
footer {
    width: 1024px;
    height: 768px;
    background: #000028;
}