@font-face {
    font-weight: normal;
    font-family: "IBM Plex Mono";
    src: url(../fonts/IBMPlexMono-Regular.ttf);
}

@font-face {
    font-weight: bold;
    font-family: "IBM Plex Mono";
    src: url(../fonts/IBMPlexMono-Bold.ttf);
}

body {
    font-family: "IBM Plex Mono", sans-serif;
    background-color: #000028;
    margin: 0;
    padding: 0;
}

.link-text {
    color: #F1B2CE;
    filter: drop-shadow(2px 2.4px 0 #FF0070);
}

.link-text:hover {
    color: #F1B2CE;
    filter: drop-shadow(2px 2.4px 0 #FF0070);
}

.link-text:focus {
    color: #F1B2CE;
    border: 1px solid #F1B2CE;
    filter: drop-shadow(2px 2.4px 0 #FF0070);
}

/* header-related tags and classes */
header {
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    width: 1024px;
    height: 768px;

    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100% 100%;
}

.no-focus {
    height: 130px;
    font-size: 157px;
    line-height: 87.5%;
    font-weight: bold;

    color: #DB00FF;
    filter: drop-shadow(4px 4px 0 #FF0070);

    margin-top: 273px;
    margin-bottom: 0;
}

.under-focus {
    height: 71px;
    width: 491px;
    font-size: 18px;
    font-weight: bold;
    background-color: #FF0070;

    align-self: flex-end;
    margin-right: 20px;
    margin-top: 114px;
    margin-bottom: 89px;
}

.theme-switch-container {
    width: 1024px;
    height: 26px;
    margin: 0;
    padding-top: 20px;

    display: flex;
}
.theme-switch {
    width: 230px;
    height: 26px;

    display: flex;
    justify-content: space-evenly;

    margin-left: auto;
    margin-right: auto;
}

.theme-switch > button {
    color: #FF0070;
    background: none;
    border: none;

    font-size: 18px;
    font-family: "IBM Plex Mono";

    line-height: 22px;
    letter-spacing: 0;
    text-align: center;
    
    padding-left: 13.4px;
    padding-right: 13.4px;
}

.theme-switch > .stroked {
    border: 1px solid #FF0070;
}

.circle {
    height: 10px;
    width: 10px;

    background-color: #FF0070;
    border-radius: 50%;

    box-shadow: 0 0 4px 2px #FF0070;

    margin-left: auto;
    margin-right: auto;
}

.corner-block {
    width: 25px;
    height: 25px;
}

.rec-text {
    color: #FF0070;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0;

    margin: 0;
    margin-right: 3px;
    align-self: flex-end;
}

.right-corner {
    border-top: 1px solid #FF0070;
    border-right: 1px solid #FF0070;

    margin-right: 20px;

    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-corner {
    border-bottom: 1px solid #FF0070;
    border-left: 1px solid #FF0070;

    margin-left: 20px;
    margin-bottom: 20px;
}

/* main-related tags and classes */
main {
    width: 1024px;
    height: 3352px;

    padding-bottom: 60px;
    background: #000028;

    font-family: "IBM Plex Mono";
    color: #FF0070;
}

main > section {
    margin-left: 20px;
}

.font-bold {
    font-weight: bold;
}

.text-main {
    font-size: 18px;
    line-height: 23.4px;
}

.text-main-2 {
    font-size: 18px;
    line-height: 23.4px;
}

/* Почему сосредоточиться так сложно */
.caption-null {
    margin: 0;
}

.leftblock1 {
    width: 315px;
    height: 508px;
}

.blocks1 {
    display: flex;
}

.leftblock2 {
    width: 315px;
    margin-bottom: 20px;
}

.blocks2 {
    display: flex;
    width: 984px;
}

.leftblock3 {
    width: 315px;
    height: 1015px;
    margin-right: 20px;
}

.blocks3 {
    display: flex;
}

.block-caption {
    background-color: #FF0070;
    color: #000028;
    margin-bottom: 10px;
}

.block-caption-2 {
    background-color: #FF0070;
    color: #000028;
    margin-bottom: 20px;
    margin-top: 0;
}

.block-card {
    width: 649px;
}

.block-card-2 {
    width: 315px;
    margin-right: 20px;
}

.card-text {
    color: #F1B2CE;
    margin-bottom: 20px;
}

.card-text-2 {
    color: #F1B2CE;
}

.image-block {
    width: 984px;
}

.grid-gallery {
    display: grid;
    grid-template-columns: 315px 315px 315px;
    grid-template-rows: 260px 315px 428px;
    grid-gap: 20px;
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

figure {
    margin: 0;
}

/* items */
.item-1 {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.item-2 {
    grid-column: 3;
    grid-row: 1 / span 2;
}

.item-3 {
    grid-column: 1;
    grid-row: 2 / span 2;
}
.item-4 {
    grid-column: 2;
    grid-row: 2;
}
.item-5 {
    grid-column: 2 / span 2;
    grid-row: 3;
}

/* footer-related tags and classes */
footer {
    width: 1024px;
    height: 768px;
    background: #000028;

    display: flex;
    flex-direction: column;
}

.focus {
    height: 130px;
    font-size: 157px;
    line-height: 87.5%;
    font-weight: bold;

    color: #DB00FF;
    filter: drop-shadow(2px 2px 0 #FF0070);

    align-self: center;
    margin: auto;
}

.margin-bottom-80 {
    margin-bottom: 80px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}